<h1><%= @flat.title %></h1>
<ul>
  <li><%= @flat.location %></li>
  <li><%= @flat.price %></li>
  <li><%= @flat.description %></li>
  <li><%= @flat.capacity %></li>
  <li><%= @flat.category %></li>
</ul>
