<div class="container m-4 d-flex">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-4 flex-fill">
        <h1><%= @flat.title %></h1>
        <h3 class=" py-4 text-muted"><%= @flat.description %></h3>
        <p>Located in <%= @flat.location %>, this flat has capacity for <%= @flat.capacity %> guest, you will have a <%= @flat.category %> just for yourself</p>
        <% if policy(@review).create? %>
          <%= link_to "New review", new_flat_review_path(@flat), class: "btn bt-primary" %>
        <% end %>
        <h3 class="py-4 text-muted">Reviews</h3>
        <% @reviews.each do |review| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <p><small><%= review.user.name %></small></p>
            <p><%= review.comment %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div class="card text-center col-md-6 ms-auto p-2 flex-fill" style="width: 430px;">
        <div class="card-body">
          <h5 class="card-title fw-light fs-3 d-flex justify-content-evenly pt-3">$<%= @flat.price %> USD</h5>
          <h6 class="card-subtitle mb-2 text-muted">night</h6>
          <p class="card-text">
            <%= render "bookings/form" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
