<div class="main-container">
  <div class="grid-container">
    <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <img src="https://pic.onlinewebfonts.com/svg/img_162330.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= flat.title %></h5>
        <p class="card-text"><%= flat.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= flat.location %></li>
        <li class="list-group-item"><% flat.category %></li>
        <li class="list-group-item"><%= flat.capacity %> Single Beds </li>
        <li class="list-group-item">$ <%= flat.price %> night</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Book now</a>
        <a href="#" class="btn btn-light">Details</a>
      </div>
    </div>
  <% end %>
  </div>
</div>
