<div class="main-container">
  <div class="grid-container">
    <% @flats.each do |flat| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <% if flat.photo.present? %>
            <%= cl_image_tag flat.photo.key, class: "front-card-img-main" %>
            <% end  %>
        </div>
        <div class="flip-card-back">
          <h5 class="card-title"><%=flat.title%></h5>
          <p class="card-description"><%=flat.description%></p>
          <div class="card-info">
            <p class="card-info-details-p"><i class="fa-solid fa-location-dot"></i></i> <%= flat.location %></p>
            <div class="card-info-details">
              <p class="card-info-details-p" style="padding-left: 0; padding-right: 50px;"><i class="fa-solid fa-house"></i> <%= flat.category %></p>
              <p class="card-info-details-p"><i class="fa-solid fa-bed"></i> <%= flat.capacity %> Single Beds</p>
            </div>
            <h5 class="card-text-price">$ <%= flat.price%> night</h5>
          </div>
            <div class="card-buttons">
              <%= link_to "Book now", new_flat_booking_path(flat), class: "btn btn-purple" %>
              <%= link_to "Details", flat_path(flat), class: "btn btn-light ms-3" %>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <%= render "shared/new_flat_button" %>
  <% end %>
